*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
    padding-top: 4%;
    background-color: #004176;
}

.formA{
   width: 400px;
   height: 570px;
   min-width: 200px;
   border-radius: 10px;
   margin: 10px;
   background-color:#90B5D7;
   text-align: center;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

img{
    padding-top: 10%;
}

h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

.formA input{
    display: block;
    margin: auto;
    height: 30px;
    width: 75%;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.formA input[type="email"]{
    margin-top: 5px ;
}

.formA input[type="text"]{
    margin-top: 5px ;
    margin-bottom: 10px;
}

.formA input[type="password"]{
    margin-top: 5px ;
}

button{
    margin-top: 3px;
    width: 150px;
    height: 20px;
}

.formA #button2{
    display: block;
    margin: auto;
    margin-top: 10px;
    width: 78%;
    height: 30px;
    color: rgb(0, 0, 0);
    border-radius: 2px;
    background: transparent;
    cursor: pointer;
    transition: all .5s ease;
}

.formA #button2:hover{
    color: rgb(255, 255, 255);
    background-color: #8A85C2; 
}

.formA div{
    margin-top: 5%;
    margin-bottom: 5%;
}
