*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
    padding-top: 4%;
    background-color:#112f49;
}

.formA{
   width: 350px;
   height: 575px;
   min-width: 150px;
   border-radius: 10px;
   margin: 10px;
   background-color: #7c97b1;
   text-align: center;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

img{
    padding-top: 10%;
}

h3{
    padding-top: 10px;
    padding-bottom: 10px;
}

#tipo{
    color: rgb(32, 32, 32);
    width: 78%;
    height: 30px;
}

.formA input{
    display: block;
    margin: auto;
    height: 30px;
    width: 75%;
    padding-left: 10px;
    color: rgb(32, 32, 32);
    border: 1px solid rgb(41, 41, 41);
    border-radius: 10px;
}

.formA input[type="email"]{
    margin-top: 5px ;
}

.formA input[type="text"]{
    margin-top: 5px ;
    margin-bottom: 10px;
}

.formA input[type="password"]{
    margin-top: 5px ;
}

button{
    margin-top: 2px;
    width: 78%;
    height: 20px;
}

.formA #button2{
    display: block;
    margin: auto;
    margin-top: 40px;
    width: 78%;
    height: 30px;
    background:rgb(34, 34, 34);
    border-radius: 2px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: all .5s ease;
}

.formA #button2:hover{
    color: rgb(255, 255, 255);
    background-color: #062238; 
}

.formA div{
    margin-top: 5%;
    margin-bottom: 5%;
}
