*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100hv;
    padding-top: 7%;
    background-color:beige;
}
.formR{
   width: 350px;
   height: 400px;
   min-width: 300px;
   border-radius: 10px;
   margin: 10px;
   background-color:  #7c97b1;
   text-align: center;
   border-top-left-radius: 50px;
   border-bottom-right-radius: 50px;
}

img{
    padding-top: 10%;
}

h3{
    color: rgb(39, 39, 39);
    padding-top: 10px;
    padding-bottom: 10px;
}

.formR input{
    display: block;
    margin: auto;
    height: 30px;
    width: 75%;
    padding-left: 10px;
    color: rgb(44, 44, 44);
    border: 1px solid rgb(41, 41, 41);
    border-radius: 10px;
}

.formR input[type="email"]{
    margin-top: 5px ;
}

.formR input[type="text"]{
    margin-top: 5px ;
}

.formR input[type="password"]{
    margin-top: 5px ;
}


.formR button{
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 78%;
    height: 30px;
    background:rgb(216, 215, 215);
    border-radius: 2px;
    color: rgb(36, 35, 35);
    cursor: pointer;
    transition: all .5s ease;
}

.formR button:hover{
    color: rgb(255, 255, 255);
    background-color: #062238; 
}

.formR div{
    margin-top: 10%;
}
